<!-- bookmark.erb -->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Home/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/gold" class="nav-item">Gold</a>
    <a href="/inventory" class="nav-item">Inventory</a>
    <a href="/notes" class="nav-item">Notes</a>
    <a href="/bookmark" class="nav-item accented-nav">Bookmark</a>
    <a href="/help" class="nav-item">Help</a>
  </nav>
</header>

<main>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <h1 class="centred-text">Bookmark</h1>

  <section class="width-container centred-text">
    <h2> Current Book Section: </h2>
    <h2 class="bookmark-value"> <%= session[:bookmark] %> </h2>
  </section>

  <section class="width-container centred-text">
    <h2 class="centred-text"> Update Bookmark:</h2>
    <form action="/bookmark" method="post" class="centred-text" name="updated_bookmark">
      <div class="centred-text"><input name="updated_bookmark" type="number" value="<%= session[:bookmark]%>" min="1" max="800"/></div>
      <button class="reversed-colour-scheme" type="submit">Update Bookmark</button>
    </form>
  </section>

</main>