<!-- inventory.erb -->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Reload/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/gold" class="nav-item accented-nav">Gold</a>
    <a href="/inventory" class="nav-item">Inventory</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item">Help</a>
  </nav>
</header>

<main>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <h1 class="centred-text">Gold</h1>

  <section class="width-container centred-text">
    <h2> Current Gold Pieces: </h2>
    <h2 class="bookmark-value"> <%= session[:gold] %> </h2>
  </section>

  <section class="width-container centred-text">
    <h2> Update Gold Pieces:</h2>
    <form action="/gold" method="post" class="centred-text"  name="updated_gold">
      <div class="centred-text"><input name="updated_gold" type="number" min="0" value="<%= session[:gold] %>"/></div>
      <button class="reversed-colour-scheme" type="submit">Update Gold</button>
    </form>
  </section>

</main>