<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Reload/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="#" class="nav-item">Inventory</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item accented-nav">Help</a>
  </nav>
</header>

<main>

  <h1 class="centred-text">Help Page</h1>

  <section>
    <div class="width-container">

      <h2 class="centred-text">Restoring Skill, Stamina and Luck</h2>


      <p>The aim of the Fighting Fantasy Companion is to be a temporary scratchpad to help a player have an adventure in a Fighting Fantasy adventure game book.  You no longer have to try to rub out those engraved pencil markings in the adventure sheet at the front of the book.</p>

      <p>In the event that you don’t have any six-sided dice with you, or don’t have a convenient horizontal surface nearby, every load or reload of a page on the site creates a randomised 2d6 result at the top of the page.  Every time you need a new dice roll, simply press the Reload/Reroll button in the navigation.</p>

      <p>You can manually enter the current page/section number as a bookmark instead of folding over the corner of a page.</p>

      <p>You can track your SKILL, STAMINA and LUCK scores, your gold and the items in your backpack.  You can choose to enter your starting SKILL, STAMINA and LUCK scores manually or generate randomised values at the start of your adventure.  You can also update them as they change through the game.</p>

      <p>The app has been designed for a mobile-first experience, but will adapt to fill larger screens.</p>

      <p>Dice icons by <a href="https://www.svgrepo.com/svg/480669/dice-2">Icooon Mono</a>.</p>
    </div>
  </section>

  <section class="reversed-colour-scheme centred-text">
    <div class="width-container">
      <p>This app needs cookies to remember information.  If you delete the cookie in your browser all your information will be reset.</p>
    </div>
  </section>
</main>