<!-- help.erb -->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Home/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/gold" class="nav-item">Gold</a>
    <a href="/inventory" class="nav-item">Inventory</a>
    <a href="/notes" class="nav-item">Notes</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item accented-nav">Help</a>
  </nav>
</header>

<main>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <h1 class="centred-text">Help</h1>

  <section>
    <div class="width-container">

      <h2 class="centred-text">Introduction</h2>

      <p>The aim of the Fighting Fantasy Companion is to be a temporary scratchpad to help a player have an adventure in a Fighting Fantasy adventure game book.  You no longer have to try to furiously rub out those stubborn pencil markings in the adventure sheet at the front or back of the book.</p>

      <p>Here are the other features of the app:</p>

      <h2 class="centred-text">Dice</h2>

      <p>In the event that you don’t have any six-sided dice with you, or don’t have a convenient horizontal surface nearby, every load or reload of the home page on the site creates a randomised 2d6 result in the dice tray at the top of the page.  Every time you need a new dice roll, simply press the <a href="/index">Home/Reroll button</a> in the navigation.</p>

      <h2 class="centred-text">Stats Tracking</h2>

      <p>You can track your SKILL, STAMINA and LUCK scores throughout the story.  You can choose to enter your starting SKILL, STAMINA and LUCK scores <a href="/stats/input-manual">manually</a> or generate <a href="/stats">randomised values</a> at the start of your adventure.  You can also update them as they change through the game.</p>

      <h2 class="centred-text">Gold Tracking</h2>

      <p>You can track the number of gold pieces you have in your money pouch on the <a href="/gold">gold page</a>.</p>

      <h2 class="centred-text">Inventory Management</h2>

      <p>You can add, modify and delete items in your backpack as the story progresses in the <a href="/inventory">inventory page</a>.</p>

      <h2 class="centred-text">Notes</h2>

      <p>Some FF game books require you to keep notes, such as passwords or section numbers.  The<a href="/notes"> notes page</a> has you covered.</p>

      <h2 class="centred-text">Bookmarking</h2>

      <p>You can manually enter the current page or section number as a <a href="/bookmark">bookmark</a> instead of folding over the corner of a page.</p>

      <h2 class="centred-text">Mobile-First Design</h2>

      <p>The app has been designed for a mobile-first experience, but will adapt to fill larger screens.</p>

      <p>Dice icons by <a href="https://www.svgrepo.com/svg/480669/dice-2">Icooon Mono</a>.</p>

      <div class="dice-container width-container">
        <img src="/images/<%= DICE_ICONS[@die1] %>" id="left-die" alt="A 3D six-sided die facing with a random side up">
        <img src="/images/<%= DICE_ICONS[@die2] %>" id="right-die" alt="A 3D six-sided die facing with a random side up">
      </div>
    </div>
  </section>

  <section class="reversed-colour-scheme centred-text">
    <div class="width-container footer-paragraph">
      <p>This app needs cookies to remember information.  If you delete the cookie for this web application in your browser all your information will be reset.</p>
    </div>
  </section>
</main>