<!-- help.erb -->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Home/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/gold" class="nav-item">Gold</a>
    <a href="/inventory" class="nav-item">Inventory</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item accented-nav">Help</a>
  </nav>
</header>

<main>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <h1 class="centred-text">Help</h1>

  <section>
    <div class="width-container">

      <h2 class="centred-text">Introduction</h2>

      <p>The aim of the Fighting Fantasy Companion is to be a temporary scratchpad to help a player have an adventure in a Fighting Fantasy adventure game book.  You no longer have to try to furiously rub out those stubborn pencil markings in the adventure sheet at the front or back of the book.</p>

      <h2 class="centred-text">Dice</h2>

      <p>In the event that you don’t have any six-sided dice with you, or don’t have a convenient horizontal surface nearby, every load or reload of the home page on the site creates a randomised 2d6 result in the dice tray at the top of the page.  Every time you need a new dice roll, simply press the Home/Reroll button in the navigation.</p>

      <h2 class="centred-text">Bookmarking</h2>

      <p>You can manually enter the current page or section number as a bookmark instead of folding over the corner of a page.</p>

      <h2 class="centred-text">Stats Tracking</h2>

      <p>You can track your SKILL, STAMINA and LUCK scores, your gold and the items in your backpack.  You can choose to enter your starting SKILL, STAMINA and LUCK scores manually or generate randomised values at the start of your adventure.  You can also update them as they change through the game.</p>

      <h2 class="centred-text">Mobile-First Design</h2>

      <p>The app has been designed for a mobile-first experience, but will adapt to fill larger screens.</p>

      <p>Dice icons by <a href="https://www.svgrepo.com/svg/480669/dice-2">Icooon Mono</a>.</p>

      <div class="dice-container width-container">
        <img src="/images/<%= DICE_ICONS[@die1] %>" id="left-die" alt="A 3D six-sided die facing with a random side up">
        <img src="/images/<%= DICE_ICONS[@die2] %>" id="right-die" alt="A 3D six-sided die facing with a random side up">
      </div>
    </div>
  </section>

  <section class="reversed-colour-scheme centred-text">
    <div class="width-container footer-paragraph">
      <p>This app needs cookies to remember information.  If you delete the cookie for this web application in your browser all your information will be reset.</p>
    </div>
  </section>
</main>