<!-- index.erb -->
<p> This is the start of the index page! </p>

<br>

<button>
  <a href="/input/manual"> Input starting attributes manually </a>
</button>

<br>

<button>
  <a href="/input/random"> Generate starting attributes randomly </a>
</button>

<br>

<button>
  <a href="/update"> Update current attributes </a>
</button>

<br>

<p> This is the end of the index page! </p>