<form action="/input/manual" method="post">
  <label for="starting_skill">Enter your starting SKILL:</label>
  <input type="number" name="starting_skill" max="12" min="7" required>
  <label for="starting_stamina">Enter your starting STAMINA:</label>
  <input type="number" name="starting_stamina" max="24" min="14" required>
  <label for="starting_luck">Enter your starting LUCK:</label>
  <input type="number" name="starting_luck" max="12" min="7" required>
  <button type="submit">Submit</button>
</form>

<br>

<p> <a href="/index"> Return to Index </a> </p>