<!-- inventory.erb -->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Reload/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/gold" class="nav-item">Gold</a>
    <a href="/inventory" class="nav-item accented-nav">Inventory</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item">Help</a>
  </nav>
</header>

<main>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <h1 class="centred-text">Inventory</h1>

  <section class="width-container centred-text">
    <h2> Inventory:</h2>
    <ul class="inventory-list">
      <% @inventory.each_with_index do |item, inventory_index| %>
        <li class="inventory-item"> <%= item %> <a href="/inventory/delete/:inventory_index" class="delete-btn" > | delete </a> </li>
      <% end %>
    </ul>
  </section>


  <section class="width-container centred-text">
    <h2> Add an item:</h2>
      <form action="/inventory" method="post" class="centred-text"  name="updated_inventory">
      <div class="centred-text"><input name="updated_inventory" type="text" /></div>
      <button class="reversed-colour-scheme" type="submit">Add Item</button>
    </form>
  </section>

</main>