<!-- inventory_modify_item.erb -->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Home/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/gold" class="nav-item">Gold</a>
    <a href="/inventory" class="nav-item accented-nav">Inventory</a>
    <a href="/notes" class="nav-item">Notes</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item">Help</a>
  </nav>
</header>

<main>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <h1 class="centred-text">Modify Inventory Item</h1>

  <section class="width-container centred-text">
    <h2> Modify your item:</h2>
      <form action="/inventory/modify/<%= @inventory_index %>" method="post" class="centred-text"  name="updated_inventory">
      <div class="centred-text"><input name="updated_inventory" class="inventory-and-notes-text-input" type="text" value="<%= @inventory_item %>"/></div>
      <button class="reversed-colour-scheme" type="submit">Modify Item</button>
    </form>
  </section>

</main>