<!-- layout.erb -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>Fighting Fantasy Books Companion</title>
  </head>


  <body>
    <% if session[:message] %>
    <p class="message"><%= session.delete(:message) %></p>
    <% end %>

    <%= yield %>

    <br>

    <footer>
      <p class="centred-text">Made by humans, for humans<p>
    </footer>
  </body>
</html>
