<!-- not_found.erb -->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Home/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/gold" class="nav-item">Gold</a>
    <a href="/inventory" class="nav-item">Inventory</a>
    <a href="/notes" class="nav-item">Notes</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item">Help</a>
  </nav>
</header>

<main>

  <p class="centred-text">This is NOT your <em>adventure sheet</em>!</p>

  <h1 class="centred-text">404</h1>
  <h1 class="centred-text">NOT FOUND</h1>

  <h2 class="centred-text">Sorry, the page you are looking for cannot be found</h2>

</main>