<!-- notes_modify_item.erb -->
<header>
  <nav class="centred-text">
    <a href="/" class="nav-item">Home/Reroll</a>
    <a href="/stats" class="nav-item">Stats</a>
    <a href="/gold" class="nav-item">Gold</a>
    <a href="/inventory" class="nav-item accented-nav">Inventory</a>
    <a href="/notes" class="nav-item">Notes</a>
    <a href="/bookmark" class="nav-item">Bookmark</a>
    <a href="/help" class="nav-item">Help</a>
  </nav>
</header>

<main>

  <p class="centred-text">Here is your <em>adventure sheet</em>!</p>

  <h1 class="centred-text">Modify Note Item</h1>

  <section class="width-container centred-text">
    <h2> Modify your note:</h2>
      <form action="/notes/modify/<%= @note_index %>" method="post" class="centred-text"  name="updated_notes">
      <div class="centred-text"><input name="updated_note" class="text-input" type="text" size="30" minlength="1" value="<%= @note_item %>"/></div>
      <button class="reversed-colour-scheme" type="submit">Modify Note</button>
    </form>
  </section>

</main>