<form>
  <button method="post" action="/input/random" type="submit"> Press here to generate random attributes</button>
</form>
<br>

<form>
  <button method="get" action="/index" type="submit"> Return to index</button>
</form>