<section class="width-container centred-text">

<form action="/stats/input-manual" method="post">
  <label for="starting_skill">Enter your starting SKILL:</label>
  <input type="number" name="starting_skill" max="12" min="7" value ="<%= session[:current_skill] %>">
  <label for="starting_stamina">Enter your starting STAMINA:</label>
  <input type="number" name="starting_stamina" max="24" min="14" value ="<%= session[:current_stamina] %>">
  <label for="starting_luck">Enter your starting LUCK:</label>
  <input type="number" name="starting_luck" max="12" min="7" value ="<%= session[:current_luck] %>">
  <button type="submit">Submit</button>
</form>

</section>

<section class="centred-text width-container">
  <a href="/stats" class="link-button"> Return to Stats page </a>
</section>