<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Index</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../public/stylesheets/reset.css">
  <link rel="stylesheet" href="../public/stylesheets/main.css">
</head>
<body>

  <header>
    <nav class="centred-text">
      <a href="#" class="nav-item accented-nav">Reload/Reroll</a>
      <a href="#" class="nav-item">Create New Stats</a>
      <a href="#" class="nav-item">Inventory</a>
      <a href="#" class="nav-item">Help</a>
    </nav>
  </header>

  <main>

    <div class="centred-text dice-container width-container">
      <img src="../public/images/dice-6-svgrepo-com.svg" alt="A 3D six-sided die facing with the six side up">
    <img src="../public/images/dice-6-svgrepo-com.svg" alt="A 3D six-sided die facing with the six side up">
    </div>

      <div class="centred-text">
        <h1>Fighting Fantasy Companion</h1>
        <p>Here is your <em>adventure sheet</em>!</p>
      </div>

    <section>
      <div class="width-container">
        <div class="centred-text">
          <h2>Restoring Skill, Stamina and Luck</h2>
        </div>

        <p>You follow the cavern wall all the way around until</p>
        <p>You will often come across pages in the book which</p>
        <p><strong>The above lines should be almost exactly one width wide if we are matching the FF books typesetting.</strong></p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>

        <div class="centred-text">
          <h2>Fighting More Than One Creature</h2>
        </div>
    
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>

      </div>
    </section>

    <section class="reversed-colour-scheme">
        <div class="width-container">
          <div class="centred-text">
            <h2>Fighting More Than One Creature</h2>
          </div>
    
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
        </div>
    </section>

  </main>
  
</body>
</html>