/* MAIN CSS */

/* GLOBAL CSS*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-size: 9px;
}

/* LAYOUT */

.width-container {
  max-width: 675px;
  margin: 0 auto;
  padding: 2rem;
}

.reversed-colour-scheme {
  background-color: rgb(41, 41, 41);
  color: #fff;
}

/* TYPOGRAPHY */

body {
  /* Can I find a true Palatino web font? */
  /* font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; */

  /* Until I can find proper Palatino for web, I'll use Georgia and this font stack: */
  font-family: Georgia, serif;
  line-height: 1.2;
  background-color: rgb(244, 240, 235);
}

h1 {
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
  margin-block-end: 1.5rem;
}

h2 {
  font-weight: 900;
  font-size: 1.7rem;
  margin-block-end: 1.5rem;
}

p {
  font-size: 1.625rem;
  margin-block-end: 2rem;
}

em {
  font-style: italic;
}

.centred-text {
  text-align: center;
}

.message {
  color: #fff;
  background: rgb(255, 0, 0);
}

/* MEDIA QUERIES */
/* REMEMBER: WE HAVE WRITTEN A MOBILE-FIRST APP SO THESE MEDIA QUERIES ARE FOR THE CHANGES FOR SCREENS WIDER THAN MOBILE */

/* This deals with root font size for phones vs everything wider than a mobile */
@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

/* Add some grid properties to create columns in desktop-width displays */

/* @media (min-width: 1200px) {
  add class for gridded column divs here
} */
